:root {
    --dark-green: #FABC3F;
    --medium-green: #e5e7eb;
    --light-grey: #d3d3d3;
    --off-white: #74091b;
    --yellow: #F5B133;
    --white: #F2E8C6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    background-image: 
      linear-gradient(to top, rgba(0, 0, 0, 0.2), var(--off-white)), /* Gradient background */
      linear-gradient(to right, rgba(245, 177, 51, 0.1) 1px, transparent 2px), /* Horizontal lines */
      linear-gradient(to bottom, rgba(245, 177, 51, 0.1) 1px, transparent 2px); /* Vertical lines */
    background-color: var(--off-white);  /* Fallback for older browsers */
    color: var(--white);
    min-height: 100vh;
    overflow: hidden;
    background-size: 25px 25px; /* Define the size of the grid pattern */
  }
  

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    text-align: center;
}

.name {
    font-family: seol sans heavy;
    font-size: 36px;
    font-weight: bold;
}

.first-name {
    color: var(--white);
}

.last-name {
    color: var(--yellow);
    position: relative;
}

.first-name, .last-name {
    font-size: 15vh;
    font-family: Georgia, serif;
}

.bounce-icon {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, -10px);
    width: 45px;
    height: auto;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, -10px);
    }
    50% {
        transform: translate(-50%, -20px);
    }
}

.title {
    font-size: 3.5rem;
    color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title .icon-left i, .title .icon-right i {
    color: var(--yellow);
}

.icon-left, .icon-right {
    font-size: 30px;
    color: var(--white);
}

.skills-section h2 {
    font-size: 24px;
    color: var(--light-grey);
    margin-top: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.skills button {
    background-color: var(--yellow);
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.skills button:hover {
    background-color: var(--dark-green);
    color: var(--white);
    transform: translateY(-3px);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.social-links a {
    color: var(--white);
    font-size: 35px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--yellow);
}

.contact a {
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    margin-top: 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.contact a i {
    margin-right: 8px;
    color: var(--white);
    transition: color 0.3s ease;
}

.contact a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--yellow);
    transition: width 0.5s ease, left 0.5s ease;
}

.contact a:hover {
    color: var(--yellow);
}

.contact a:hover::after {
    width: 100%;
    left: 0;
}

.contact a:hover i {
    color: var(--yellow);
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .first-name, .last-name {
        font-size: 5vh;
    }
    .title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .first-name, .last-name{
        font-size: 7vh;
    }
    .title {
        font-size: 1.5rem;
    }
    .skills {
        gap: 7px;
    }
}

@media screen and (min-width: 769px)  and (max-width: 1024px){
    .first-name, .last-name{
        font-size: 7vh;
    }
    .title {
        font-size: 2rem;
    }
    .skills {
        gap: 7px;
    }
}

